*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.container{
  width: 1000px;
  height: 600px;
  margin: auto;
}

.upper-box{
  background-color: yellow;
  height: 150px;
  margin-bottom: 5px;
}

main{
  width: 100%;
  height: 300px;
}

.middle-boxes{
  background-color: pink;
  float: left;
}

.left{
  width:248px;
  height: 250px;
  margin:2px;
  margin-left: 0;
}

.middle{
  width: 450px;
  height: 298px;
  margin-top: 2px;
  margin-left: 24px;
  margin-right:24px;
}

.right{
  width:248px;
  height: 145px;
  margin: 2px;
}

.footer{
  width: 1000px;
  height: 100px;
  background-color: blue;
  margin-top: 5px;
}
