*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.container{
  width: 1000px;
  height: 600px;
  margin: auto;
}

.upper-box{
  background-color: yellow;
  height: 150px;
  margin-bottom: 5px;
}

main{
  position: relative;
  width: 100%;
  height: 300px;
  /* background-color: brown; */
}

.colonna1{
  width: 248px;
  height: 250px;
  margin-left: 0;
  background-color: pink;
  float: left;
}

.colonna2{
  width: 470px;
  height: 300px;
  margin-left: 15px;
  background-color: violet;
  float: left;
}

.mini-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 300px;
  /* background-color: brown; */
  float: left;
}

.colonna3{
  width: 248px;
  height: 145px;
  margin-left: 3px;
  background-color: pink;
  /* float: left; */
}

.blocco{
  width: 248px;
  height: 130px;
  margin-top: 5px;
  margin-left: 3px;
  background-color: pink;
  /* float: left; */
}

.footer{
  width: 1000px;
  height: 100px;
  background-color: blue;
  margin-top: 5px;
}
